// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');

// Styles
.page {     
    font-family: 'Montserrat';
    padding:0;
    margin:0;
}

// Styles
.content {   
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4rem 1rem 0 1rem;     
    gap: 10rem; 
    z-index: 1;
}

.cols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
        height: 18rem;
        margin-bottom: 2rem;        
    }

    .title {
        font-size: 4em; 
        font-weight: 700; 
        color: #323232;
    }

    .subtitle {
        font-size: 1.5em;
        text-align: justify;
        width:500px;
        color: whitesmoke;
        opacity: 0.6;
    }
}

.videoBG {
    background-color: #72b9da;
    position: fixed;
    height: 100vh;
    width: 100vw;

    .vContent{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        opacity: 0.5;
    }
}

.divider{
    --color: black;
    position: fixed;
    box-sizing: border-box;
    border-color: var(--color); 
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0;
    width: 100vw;
    height: 60%;
    bottom: 0;   
    opacity: 0.5;
    
    svg{
        fill: var(--color);
    }
}