// google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Styles
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    font-family: 'Lato',  sans-serif; 
    background-color: #fafafa;
    min-width: 280px;
    
    &.header {   
        padding: 0;
        gap: 0;
    }

    &.submit {
        flex-direction: row;
        justify-content: space-between;  
        padding: 0; 
        margin-top: 3rem;
    }
}

.btn {
    border: none;
    border-radius: 2rem;
    box-shadow: none !important;
    min-width: 5rem;
    font-size: 1em;
    padding: 0.5rem;
    cursor: pointer;
}

.logo {
    height: 6rem;
    margin-bottom: 1rem;
}