.primary-btn {
    color: #FFFFFF;
    background: #323232;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 74px;
    padding-right: 74px;
    border-radius: 64px;
    cursor: pointer;
}