@import '../../theme/colors.module.scss';

.root {
    height: 385px;
    font-family: Poppins;
}

.right {
    display: grid;
    height: 90%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}

.divider {
    height: 90%;
}

.left {}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 90%;
    width: 100%;
}

.creditCard {
    background: #1E70A1;
    border-radius: 20px;
}

.outline {
    border-radius: 28px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.statistics {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    height: 30px;
}