@import '../../theme/colors.module.scss';

.root {
    height: 365px;
    font-family: Poppins;
}

.right {
    display: flex;
    height: 90%;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.divider {
    height: 90%;
}

.left {}

.content {
    display: flex;
    position: relative;
    height: 90%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.creditCard {
    background: #1E70A1;
    border-radius: 20px;
}

.outline {
    border-radius: 28px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.statistics {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: $light-green;
}