.radio-btn-checked {
    display: inline-block;    
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: solid 1px #323232;
    padding: 5px;
    background-clip: content-box; /* support: IE9+ */
    background-color: #323232;
}

.radio-btn {
    display: inline-block;    
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-clip: content-box; /* support: IE9+ */
    border: solid 1px #323232;
    background-color: white;
}