.circle-btn {
    color: #FFFFFF;
    background: #54B2CF;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.large {
    padding: 20px;
}

.small {
    padding: 4px 8px 6px;
}