.root {}

.Card {
    border-radius: 28px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    justify-content: space-between;
    flex-direction: column;
    padding: 25px;

}

.text {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 38px;
}

.graytext {
    font-size: 14px;
    color: #AEAEAE;
    margin: 0px;
    font-family: Arial, sans-serif;
}

.iconcolor {
    color: #70A6E8;
}

.h2 {
    color: #696969;
    font-weight: 300;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 23px;
}

.h5 {
    color: #696969;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 300;
}

.div2 {}