.root {}

.iconContainer {
    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 25px;
    height: 25px;
}

.receiver {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 220px;
}

.iconContainerReceiver {
    margin-right: 6px;
}

.transaction-table-row {
    display: flex;
    align-items: center;
}

.transaction-type {
    width: 100px;
    color: #C7C7C7;
}

.transaction-cell {
    padding: 12px;
}

.transaction-date {
    width: 120px;
    color: #C7C7C7;
}