.root {
    border-radius: 9999px;
    background: #FFC145;
    border: 1px solid #FFC145;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.head {
    background: white;
    width: 10.83px;
    height: 10.83px;
    border-radius: 9999px;
    margin: 10px 14px 0px 12px;
}

.avatarbody {
    background: #197BBD;
    width: 21px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
}