@import '../../theme/colors.module.scss';

.root {}

.headerContainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    display: flex;
}

.pageHeader {
    font-size: 42px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
    color: $dark-grey;
}

.pageSubHeader {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: $dark;
}