@import '../../colors.module.scss';

.root {}

.IconCard {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8964C;
    font-size: 16px;
    background: #FFEADA;
    line-height: 16px;
    width: 42px;
    height: 42px;
}

.IconSize {
    width: 16px;
    height: 16px;
}