.root {
    flex-direction: column;
    font-family: Poppins;
}

$dark: #404040;
$dark-grey: #696969;
$light-grey: #AEAEAE;
$red: #BB4430;
$orange: #F99B53;
$yellow: #FFC145;
$light-green: #24AB4A;
$dark-green: #439A86;
$dark-blue: #197BBD;
$light-blue: #70A6EB;


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    font-weight: 700;
    line-height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.description {
    color: #AEAEAE;
    line-height: 14px;
}

.dollar {
    font-size: 18px;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 20px;
}

.balance .header {
    color: $dark-blue;
    font-size: 32px;
}

.income .header {
    color: $dark-green;
    font-size: 32px;
}

.outcome .header {
    color: $red;
    font-size: 32px;
}