.root {
    flex-direction: column;
    font-family: Lato;
}

$blue: #197BBD;
$green: #439A86;
$red: #BB4430;


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    font-weight: 700;
    line-height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.description {
    color: #AEAEAE;
    line-height: 14px;
}

.dollar {
    font-size: 18px;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 20px;
}

.balance .header {
    color: $blue;
    font-size: 32px;
}

.income .header {
    color: $green;
    font-size: 18px;
}

.outcome .header {
    color: $red;
    font-size: 18px;
}