.root {
    border-radius: 9999px;
    height: 41px;
    width: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 9999px;
    width: 41px;
    height: 41px;
}