.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuItem {
    width: 165px;
    height: 39px;
    color: #C7C7C7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    margin: 20px;
}

.selected {
    background: rgb(240, 247, 255);
    color: #197BBD;
}