
// Styles
:root{
    background: whitesmoke;
}

.wrapper {     
    position: relative;  
    padding:0;

    margin-top: 4rem;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.controls{
    position: fixed;
    width: 100vw;
    padding: 2rem;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fx 0.35s;
    animation-timing-function: ease-in;
     
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

@keyframes fx {
    from {opacity: 0}
    to {opacity: 1}
}