.theme {
    --gray-1: #404040;
    --gray-2: #696969;
    --gray-3: #AEAEAE;
    --orange-1: #BB4430;
    --orange-2: #F99B53;
    --orange-3: #FFC145;
    --green-1: #24AB4A;
    --green-2: #439A86;
    --blue-1: #197BBD;
    --blue-2: #70A6E8;
}

.fonts {
    --small: 11px;
}