.root {
    width: 155px;
    height: 169px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    margin-left: 2px;
}

.HeadLineGoal {
    font-size: 23px;
    font-weight: 600;
    //line-height: 50px;

}

.DateGoals {
    color: #AEAEAE;
}

.background {
    width: 158px;
    height: 169px;
    background: #FFFFFF;
    border-radius: 28px 28px 29px;
    box-shadow: 0.3px 15px 14px 5px rgba(201, 198, 198, 0.33);

}

.GeneralTextStuff {
    margin-left: 15px;
    margin-top: 0px;
    padding: 2px;
}

.Division {}

.icon {
    margin: 50px 0px 0px;
    width: 30px;
    height: 25px;
}

.Division2 {
    margin-top: 4px;
}

.TopGoal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background: white;
}

.c {}

.cards {}